@import './components/shimmer';
@import './components/loader';

body {
  font-family: 'Nunito', serif !important;
}

table {
  font-family: 'Nunito', serif !important;
}

h4 {
  font-weight: 300 !important;
  margin-bottom: 24px;
  text-align: center;
}

p {
  font-weight: 500;
}

button {
  border-radius: 5px !important;
}

button:disabled {
  border: 1px solid #a9e0d5 !important;
  background-color: #a9e0d5 !important;
  color: #ffffff !important;
}

button:hover:disabled {
  border: 1px solid #a9e0d5 !important;
  background-color: #a9e0d5 !important;
  color: #ffffff !important;
}

.icon {
  position: relative;
  padding: 12px 0px;
}

.item-center {
  margin: 0 auto;
}

.primary {
  color: #86d0c1 !important;
}

.bg-primary {
  background-color: #86d0c1 !important;
}

.bg-secondary {
  background-color: #417465 !important;
}

.bg-third {
  background-color: #f4f9f8 !important;
}

.bg-forth {
  background-color: #c8ece5 !important;
}

.bg-fifth {
  background-color: #e9faf5 !important;
}

.btn-primary {
  background-color: #86d0c1;
  border-color: #86d0c1 !important;
  color: #ffffff;
  &:focus,
  &:active,
  &:hover {
    background-color: #86d0c1 !important;
    opacity: 0.7 !important;
  }
}

.btn-secondary {
  background-color: #ffffff !important;
  color: #86d0c1 !important;
  border-color: #86d0c1 !important;
  padding: 0.6rem 2rem;
  font-weight: bold;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}

.btn-third {
  background-color: #417465 !important;
  color: #ffffff !important;
  border-color: #417465 !important;
  padding: 0.8rem 3rem;
  font-size: 16px;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}

.btn-forth {
  background-color: #ffffff !important;
  color: #417465 !important;
  border-color: #417465 !important;
  padding: 0.6rem 2rem;
  font-weight: bold;
  &:focus,
  &:active,
  &:hover {
    opacity: 0.7;
  }
}

.text-primary {
  color: #86d0c1 !important;
}

.text-secondary {
  color: #417465 !important;
}

.text-third {
  color: #f4f9f8 !important;
}

.scroller {
  overflow-y: scroll;
  scrollbar-color: #408374 #eeeeee;
  scrollbar-width: thin;
}
.scroller::-webkit-scrollbar {
  width: 5px;
}
.scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee;
  border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb {
  background: #408374;
  border-radius: 10px;
}
.scroller::-webkit-scrollbar-thumb:hover {
  background: #408374;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 3px;
}

button[disabled] {
  border-color: #cccccc !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}

button[disabled]:hover {
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: no-drop;
}
.flex {
  display: flex;
}
