body {
    font-family: 'Montserrat', serif !important;
  }
  
  table {
    font-family: 'Montserrat', serif !important;
  }
  
  h4 {
    font-weight: 300!important;
    margin-bottom: 24px;
    text-align: center;
  }
  
  p {
    font-weight: 300;
  }
  
  button {
    border-radius: 20px!important;
  }
  
  .icon {
    position: relative;
    padding: 12px 0px;
  }
  
  .item-center {
    margin: 0 auto;
  }
  
  .btn-primary {
    background-color: #e5dafc!important;
    color: #53417b !important;
    border-color: #e5dafc!important;
    &:active {
      background-color: #8a7aae!important;
    }
    &:focus {
      background-color: #8a7aae!important;
    }
  }
  
  .btn-secondary {
    background-color: #daeeef;
    border-color: #daeeef!important;
    color: #2f524b;
  }